<div class="container" ng-class="{'menuOpen': $root.menuOpen, 'menuClosed': $root.menuOpen === false}" ng-init="mCtrl.initPartModels()">
    <div class="card">
        <div class="card-header">
            <h2>Model List <small>List of all the part models in the database</small></h2>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Model Part ID</th>
                    <th>Brand Name</th>
                    <th>Part Name</th>
                    <th>Model Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rm in mCtrl.PartModels"> <!-- ng-repeat -->
                    <td>{{rm.id}}</td>
                    <td>{{rm._name}}</td>
                    <td>{{rm.part}}</td>
                    <td>{{rm.model}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>