<div class="container" ng-class="{'menuOpen': $root.menuOpen, 'menuClosed': $root.menuOpen === false}" ng-init="mCtrl.initPartList()">
    <div class="card">
        <div class="card-header">
            <h2>Parts List <small>List of all the parts in the database</small></h2>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Part ID</th>
                    <th>Part Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="part in mCtrl.PartList"> <!-- ng-repeat -->
                    <td>{{part.id}}</td>
                    <td>{{part._name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>