<div class="container" ng-class="{'menuOpen': $root.menuOpen, 'menuClosed': $root.menuOpen === false}" ng-init="mCtrl.initCompanyList()">
    <div class="card">
        <div class="card-header">
            <h2>Company List <small>List of all the companies in the database</small></h2>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Company Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="company in mCtrl.CompanyList"> <!-- ng-repeat -->
                    <td>{{company.id}}</td>
                    <td>{{company._name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>