<div class="container" ng-class="{'menuOpen': $root.menuOpen, 'menuClosed': $root.menuOpen === false}">
    <div class="card">
        <div class="card-header">
            <h2>Add Company <small>Company ID must be an integer
            </small></h2>
        </div>

        <div class="card-body card-padding">
            <form role="form" class="ng-pristine ng-valid" name="form" ng-submit="mCtrl.addCompany()">
                <div class="form-group fg-line">
                    <label for="ID">Company ID</label>
                    <input type="text" class="form-control input-sm" name="ID" id="ID" ng-model="$root.ID" placeholder="Enter Company ID">
                </div>
                <div class="form-group fg-line">
                    <label for="NAME">Company Name</label>
                    <input type="text" class="form-control input-sm" name="NAME" id="NAME" ng-model="$root.NAME" placeholder="Enter Company Name">
                </div>
                <div class="checkbox hide">
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i>
                        Don't forget to check me out
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-sm m-t-10 waves-effect">Submit</button>
            </form>
        </div>
    </div>

    <div class="alert alert-success alert-dismissible" style="display:none" id="successAlert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        Company Added Successfully.
    </div>
</div>