<div class="container" ng-class="{'menuOpen': $root.menuOpen, 'menuClosed': $root.menuOpen === false}" ng-init="mCtrl.initInvoiceList()">
    <div class="card">
        <div class="card-header">
            <div style="float:right">
                <h2><small>Search order by ID or Name</small></h2>
                <input type="text" ng-model="search.$"/>
            </div>
            <h2>Order List <small>List of all the items in the database</small></h2>
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Invoice ID</th>
                    <th>Company ID</th>
                    <th>Company Name</th>
                    <th>Serial No</th>
                    <th>Date</th>
                    <th>Total Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in mCtrl.OrderList"> <!-- ng-repeat -->
                    <td>{{order.id}}</td>
                    <td>{{order.company_id}}</td>
                    <td>{{order._name}}</td>
                    <td>{{order.serial_no}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.total_value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>