<ion-view view-title="MY WEIGHTS">
   <ion-content>
      <div class="container">
         <div ng-show="loading" class="loading-animation"><img src="img/loading.svg"/></div>
         <div ng-show="myWeight.length > 0" ng-hide="loading">
            <b>Select a row:</b><br/><br/>          
            <div class="row">
               <div class="col"><b>Date</b></div>
               <div class="col"><b>Weight</b></div>
            </div>
            <div class="row item" ng-repeat="myWeight in myWeights" ng-click="">
               <div class="col">{{myWeight.date}}</div>
               <div class="col">{{myWeight.weight}}</div>
            </div>
         </div>
         <div ng-show="myWeight.length == 0 && !loading">
            <b>There are no avialable weights.</b>
         </div>
      </div>
   </ion-content>
</ion-view>