<ion-view view-title="START WEIGHING">
  <ion-content>
    <div class="container">
      <div class="outer-circle" ng-click="startWeighing()">
        <div class="circle">
          <img src="../img/weight.png"/>
          <div class="start">START</div>
          <div class="weighing">WEIGHING</div>
        </div>
      </div>
      <div class="statistics">
        <h1>RECENT <span class="thin">STATISTICS</span></h1>
        <img src="../img/statistics.png"/>
      </div>
    </div>
  </ion-content>
</ion-view>
