<ion-view view-title="TASKS">
  <ion-content>
    <div class="container">
      <div ng-show="loading" class="loading-animation"><img src="img/loading.svg"/></div>
      <div ng-show="tasks.length > 0" ng-hide="loading">
        <b>Select a task:</b><br/><br/>
        <ion-list>
          <ion-item ng-repeat="task in tasks" ng-click="selectTask($index)">
            {{task}}
          </ion-item>
        </ion-list>
      </div>
      <div ng-show="tasks.length == 0 && !loading">
        <b>There are no avialable tasks.</b>
      </div>
    </div>
  </ion-content>
</ion-view>
