<ion-view view-title="GO TO LOCATION">
  <ion-content>
    <div class="container" ng-init="arrivedAtLocation = false">
      <p class="grey">Item {{currentItemIdx+1}} of {{currentTask.length}}</p>
      <p>Please pick up the item from location:</p>
      <p>{{currentTask[currentItemIdx].location}}</p>
      <div class="weigh-buttons">
          <button class="button button-light button-assertive" ng-click="scanBarcode()">SCAN BARCODE</button>
          <button class="button button-light button-assertive" ng-click="showLocationPopup()">ENTER MANUALLY</button>
      </div>
    </div>
  </ion-content>
</ion-view>
