<ion-view view-title="WEIGHING">
  <ion-content>
    <div class="container">
      <div ng-show="isConnected" class="button button-clear button-positive">CONNECTED TO INDICATOR</div>
      <div ng-show="!isConnected" class="button button-clear button-assertive">
        DISCONNECTED FROM INDICATOR
        <button class="button button-small button-assertive" ng-click="goToSettings()">Change Settings</button>
      </div>
      <div class="clearfix"></div>
      <div style="background:#4E4D4D;margin:50px 0 0 0;border:4px solid #ef473a">
        <div class="ravas-logo"><img src="img/logo-ravas.png" style="padding-top:5px;height:30px;"/></div>
        <div class="weight-display">
          <div class="weight">{{isConnected ? weight : '----'}}
          </div>
        </div>
        <div class="kg">kg</div>
      </div>
      <div class="weigh-buttons">
        <button class="button button-light button-assertive" ng-disabled="!isConnected" ng-click="tare()">TARE</button>
        <button class="button button-light button-assertive" ng-disabled="!isConnected" ng-click="getWeight()">GET WEIGHT</button>
      </div>
    </div>
  </ion-content>
</ion-view>
