<div class="container" ng-class="{'menuOpen': $root.menuOpen, 'menuClosed': $root.menuOpen === false}" ng-init="mCtrl.initClientList()">
    <div class="card">
        <div class="card-header">
            <h2>Client List <small>List of all the clients in the database</small></h2>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>UserName</th>
                    <th>Security Level</th>
                    <th>NFC</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in mCtrl.ClientList"> <!-- ng-repeat -->
                    <td>{{client._id}}</td>
                    <td>{{client.userName}}</td>
                    <td>{{client.securityLevel}}</td>
                    <td>{{client.nfc}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>