<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div toggle-class="open" class="menu-trigger" ng-click="hCtrl.sideMenuToggle()" ng-style="userId == -1 && {'visibility': 'hidden'}">
                <div class="line-wrap">
                    <span class="line top"></span>
                    <span class="line center"></span>
                    <span class="line bottom"></span>
                </div>
            </div>
            <div style="margin-top: -36px;margin-left: 60px;"><a href="#/home">Warehouse Admin Panel</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--left side nav-->
            </ul>
            <ul class="nav navbar-nav navbar-right hide">
                <!--right side nav-->
                <li><a href="../navbar/">Default</a></li>
                <li><a href="../navbar-static-top/">Static top</a></li>
                <li><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<aside id="sideBar">
    <div class="profile-menu">
        <a href="">
            <div class="profile-pic" style="display:inline-block">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>
            <div class="profile-info">Hi {{userName}}!</div>

        </a>
    </div>
    <ul class="main-menu">
        <li class="active">
            <a href="#/home">
                <i class="glyphicon glyphicon-home" aria-hidden="true" style="left:14px"></i>Home</a>
        </li>
        <li class="sub-menu" toggle-class="active">
            <a href="" ng-click="hCtrl.toggleDrop($event)">
                <i class="glyphicon glyphicon-user" aria-hidden="true" style="left:14px"></i>Users
                <span class="pull-right"><i class="material-icons">expand_more</i></span></a>

            <ul class="animated hide">
                <li>
                    <a class="active" href="#/Users">List</a>
                </li>
                <li>
                    <a class="active" href="#/Users/add">Add</a>
                </li>
            </ul>
        </li>
        <li class="sub-menu" toggle-class="active">
            <a href="" ng-click="hCtrl.toggleDrop($event)">
                <i class="glyphicon glyphicon-list-alt" aria-hidden="true" style="left:14px"></i>Orders
                <span class="pull-right"><i class="material-icons">expand_more</i></span></a>

            <ul class="animated hide">
                <li>
                    <a class="active" href="#/Orders/list">List</a>
                </li>
            </ul>
        </li>
        <li class="sub-menu" toggle-class="active">
            <a href="" ng-click="hCtrl.toggleDrop($event)">
                <i class="material-icons">build</i>Items
                <span class="pull-right"><i class="material-icons">expand_more</i></span></a>

            <ul class="animated hide">
                <li>
                    <a class="active" href="#/Items/list">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/login" ng-click="hCtrl.logout()">
                <i class="glyphicon glyphicon-off" aria-hidden="true" style="left:14px"></i>Logout</a>
        </li>
    </ul>
</aside>