<div class="container" ng-class="{'menuOpen': $root.menuOpen, 'menuClosed': $root.menuOpen === false}" ng-init="mCtrl.initInvoiceList()">
    <div class="card">
        <div class="card-header">
            <h2>Invoice List <small>List of all the invoices in the database</small></h2>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Invoice ID</th>
                    <th>Company ID</th>
                    <th>Company Name</th>
                    <th>Serial No</th>
                    <th>Date</th>
                    <th>Total Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="invoice in mCtrl.InvoiceList"> <!-- ng-repeat -->
                    <td>{{invoice.id}}</td>
                    <td>{{invoice.company_id}}</td>
                    <td>{{invoice._name}}</td>
                    <td>{{invoice.serial_no}}</td>
                    <td>{{invoice.date}}</td>
                    <td>{{invoice.total_value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>