<div class="container" ng-class="{'menuOpen': $root.menuOpen, 'menuClosed': $root.menuOpen === false}"
     ng-init="mCtrl.initItemList()">
    <div class="card">
        <div class="card-header">
            <div style="float:right">
                <h2>
                    <small>Search item by ID or Name</small>
                </h2>
                <input type="text" ng-model="search.$"/>
            </div>
            <h2>Item List
                <small>List of all the items in the database</small>
            </h2>
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>SKU</th>
                    <th>Item Name</th>
                    <th>Location</th>
                    <th>Amount In Stock</th>
                    <th>Weight (kg)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in mCtrl.ItemList | orderBy:'sku' | filter:search:strict"> <!-- ng-repeat -->
                    <td>{{item.sku}}</td>
                    <td>{{item.itemName}}</td>
                    <td>{{item.location}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.weight}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>