<div class="container" ng-class="{'menuOpen': $root.menuOpen, 'menuClosed': $root.menuOpen === false}">
    <div class="m-b-20">DASHBOARD</div>
    <div class="col-sm-6 m-t-10">
        <div id="calendar-widget" full-calendar class="fc fc-ltr ui-widget"></div>
    </div>
    <div class="col-sm-6 m-t-10">
        <div class="card" style="height:auto;">
            <div class="card-header">
                <h2>Warehouse Admin Panel <small>Made by Liron Zluf & Eyal Fridman
                </small></h2>
            </div>
            <div class="card-body">
                <img src="img/home.gif" border="0" style="width:100%;border:0;"/>
            </div>
        </div>
    </div>
</div>